:root {
  --bg-button: #f0f0f0;
  --border-button: solid 1px #888;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  border: none;
  height: 3rem;
  width: 3rem;
  border-radius: 20rem;
  outline: none;
}

.button:active {
  filter: brightness(2.5);
}

button.button.double {
  width: 6rem;
  text-align: start;
  padding: 0rem 1rem;
}

.button.operation {
  background-color: #FF9500;
  color: white;
}
.button.light-gray {
    background-color: #D4D4D2;
    color: black;
}
.button.dark-gray {
    background-color: #1C1C1C;
    color: white;
}
