.calculator {
  height: 410px;
  width: 235px;
  border-radius: 1rem;
  overflow: hidden;
  padding-bottom: 5px;

  display: flex;
  flex-direction: column;

  background-color: black;
}

.buttons {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
